html{
	scroll-behavior: smooth;
}
*{margin: 0; padding: 0; box-sizing:border-box; font-family: 'Poppins', sans-serif;}

.nav-item a{
	color:rgb(0, 0, 0)!important;
    font-weight:bold;
    font-size: 15px;
}
.transparent{
    background:transparent;
}
.box-shadow{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom right, rgb(202, 137, 39), rgb(255, 218, 115));
    border: none;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
}